{% extends 'base.html' %}

{% block content %}
    <div class="row py-3">

          <div class="col-lg-3">

            <h1 class="my-4">Shop Name</h1>
            <div class="list-group">
                {% for category in categories %}
              <a href="{{ category.url }}" class="list-group-item">{{ category.name }} ({{ category.count }})</a>
                {% endfor %}
            </div>

          </div>
          <div class="col-lg-9">

          {% for product in products %}

          <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">
              <a href="{{ product.get_absolute_url }}"><img class="card-img-top" src="{{ product.image.url }}" alt=""></a>
              <div class="card-body">
                <h4 class="card-title">
                  <a href="{{ product.get_absolute_url }}">{{ product.title }}</a>
                </h4>
                <h5>{{ product.price }}</h5>
              </div>
            </div>
          </div>

        {% endfor %}

          </div>
    </div>


{% endblock content %}