{% extends 'base.html' %}

{% block content %}
    <div class="row py-3">

          <div class="col-lg-3">

            <h1 class="my-4">Shop Name</h1>
            <div class="list-group">
                {% for category in categories %}
              <a href="{{ category.url }}" class="list-group-item">
                  {{ category.name }}
                  ({{ category.count }})
              </a>
                {% endfor %}
            </div>

          </div>
          <div class="col-lg-9">

     <div class="row">
         <nav class="container mt-2 mb-2" aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'base' %}">Главная</a></li>
                <li class="breadcrumb-item active">{{ category.name }}</li>
              </ol>
        </nav>
        {% for product in category_products %}

          <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">
              <a href="{{ product.get_absolute_url }}"><img class="card-img-top" src="{{ product.image.url }}" alt=""></a>
              <div class="card-body">
                <h4 class="card-title">
                  <a href="{{ product.get_absolute_url }}">{{ product.title }}</a>
                </h4>
                <h5>{{ product.price }}</h5>
                <a href="{% url 'add_to_cart' ct_model=product.get_model_name slug=product.slug %}">
                  <button class="btn btn-danger">Добавить в корзину</button>
                </a>
              </div>
            </div>
          </div>

        {% endfor %}
        </div>

          </div>
    </div>


{% endblock content %}